In [1]:
import pandas as pd
from sklearn.model_selection import cross_val_score, train_test_split

In [5]:
!pip install justml

Collecting justml
  Downloading https://files.pythonhosted.org/packages/65/fd/15d51190a0335953d0c91ac07327d992d959730a41038a223d7cb56d646d/justml-1.0.0.tar.gz
Requirement already satisfied: requests in /Users/adamcox/miniconda2/envs/govertical/lib/python3.5/site-packages (from justml)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/adamcox/miniconda2/envs/govertical/lib/python3.5/site-packages (from requests->justml)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/adamcox/miniconda2/envs/govertical/lib/python3.5/site-packages (from requests->justml)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/adamcox/miniconda2/envs/govertical/lib/python3.5/site-packages (from requests->justml)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adamcox/miniconda2/envs/govertical/lib/python3.5/site-packages (from requests->justml)
Building wheels for collected packages: justml
  Running setup.py bdist_wheel for justml ... done
  Stored in directory: /Users/adamcox/Library/Caches/pip/wheels/69/40/d6/4cf11b3c5d298e3516c1060ca1a0d33b71a6c44701a50983cb
Successfully built justml
Installing collected packages: justml
Successfully installed justml-1.0.0
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
import justml

justml.api_key = "key-HKJHeMOtbjqbW9P3YzzP-q8rZioZMhdNg24O6Nd6Ybw"
justml.activate_logging()

In [7]:
clf = justml.Classifier(name="classifier1")
print(clf.status)

uninitialized

In [2]:
filename = 'KaggleV2-May-2016_with_new_cols_may5_1338.csv'
no_show = pd.read_csv(filename, encoding='latin')

In [9]:
no_show.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,...,No-show,time_d,time_d_total_seconds,a_day_of_week,s_day_of_week,Neighbourhood_category,Gender_category,no_show,scheduled_hour,time_d_total_days
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29 00:00:00,62,JARDIM DA PENHA,0,1,0,...,No,-1 days +05:21:52.000000000,-67088.0,4,4,39,0,False,18,0
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29 00:00:00,56,JARDIM DA PENHA,0,0,0,...,No,-1 days +07:51:33.000000000,-58107.0,4,4,39,1,False,16,0
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29 00:00:00,62,MATA DA PRAIA,0,0,0,...,No,-1 days +07:40:56.000000000,-58744.0,4,4,45,0,False,16,0
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29 00:00:00,8,PONTAL DE CAMBURI,0,0,0,...,No,-1 days +06:30:29.000000000,-62971.0,4,4,54,0,False,17,0
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29 00:00:00,56,JARDIM DA PENHA,0,1,1,...,No,-1 days +07:52:37.000000000,-58043.0,4,4,39,0,False,16,0

In [10]:
# feature_set = ['Age', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', \
#             'Neighbourhood_category', 'Gender_category', 'scheduled_hour', 's_day_of_week', 'a_day_of_week']
feature_set = ['Age', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', \
            'Gender_category', 'scheduled_hour', 's_day_of_week', 'a_day_of_week', 'time_d_total_seconds']

In [12]:
X = no_show.as_matrix(columns=feature_set)
y = no_show['no_show'].values
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [ ]:
%%timeit -n1 -r1 # measure the execution time

if clf.status != "trained":
    clf.fit(X=X_train, y=y_train)

INFO:justml:Sending data to train estimator classifier1...
INFO:justml:Waiting for training to complete on JustML servers...