In [1]:
import pandas as pd

In [4]:
dd = pd.read_csv('KaggleV2-May-2016.csv',encoding='latin')

In [5]:
dd.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [7]:
dd['ScheduledDay'] = dd.ScheduledDay.apply(lambda x: x.strip('Z')).apply(lambda x: x.replace('T', ' '))

In [8]:
dd['ScheduledDay'] = pd.to_datetime(dd['ScheduledDay'])

In [11]:
dd['AppointmentDay'] = dd.AppointmentDay.apply(lambda x: x.strip('Z')).apply(lambda x: x.replace('T', ' '))
dd['AppointmentDay'] = pd.to_datetime(dd['AppointmentDay'])

In [12]:
dd.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [15]:
dd['time_d'] = dd['AppointmentDay'] - dd['ScheduledDay']

In [16]:
dd.head(100)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,time_del,time_d
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,-1 days +05:21:52,-1 days +05:21:52
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,-1 days +07:51:33,-1 days +07:51:33
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,-1 days +07:40:56,-1 days +07:40:56
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,-1 days +06:30:29,-1 days +06:30:29
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,-1 days +07:52:37,-1 days +07:52:37
5,9.598510e+13,5626772,F,2016-04-27 08:36:51,2016-04-29,76,REPÌ_BLICA,0,1,0,0,0,0,No,1 days 15:23:09,1 days 15:23:09
6,7.336880e+14,5630279,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes,1 days 08:54:48,1 days 08:54:48
7,3.449830e+12,5630575,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes,1 days 08:20:02,1 days 08:20:02
8,5.639470e+13,5638447,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No,-1 days +15:57:44,-1 days +15:57:44
9,7.812460e+13,5629123,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No,1 days 11:11:35,1 days 11:11:35
10,7.345360e+14,5630213,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No,1 days 09:01:49,1 days 09:01:49
11,7.542950e+12,5620163,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes,2 days 15:15:48,2 days 15:15:48
12,5.666550e+14,5634718,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No,0 days 12:26:09,0 days 12:26:09
13,9.113950e+14,5636249,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No,0 days 09:07:53,0 days 09:07:53
14,9.988470e+13,5633951,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No,0 days 13:53:36,0 days 13:53:36
15,9.994839e+10,5620206,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No,2 days 15:12:33,2 days 15:12:33
16,8.457440e+13,5633121,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No,0 days 15:08:13,0 days 15:08:13
17,1.479500e+13,5633460,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes,0 days 14:31:03,0 days 14:31:03
18,1.713540e+13,5621836,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No,2 days 13:05:42,2 days 13:05:42
19,7.223290e+12,5640433,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No,-1 days +13:16:46,-1 days +13:16:46
20,6.222570e+14,5626083,F,2016-04-27 07:51:14,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes,1 days 16:08:46,1 days 16:08:46
21,1.215480e+13,5628338,F,2016-04-27 10:50:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes,1 days 13:09:15,1 days 13:09:15
22,8.632300e+14,5616091,M,2016-04-25 13:29:16,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes,3 days 10:30:44,3 days 10:30:44
23,2.137540e+14,5634142,F,2016-04-28 10:27:05,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No,0 days 13:32:55,0 days 13:32:55
24,8.734860e+12,5641780,F,2016-04-29 14:19:19,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No,-1 days +09:40:41,-1 days +09:40:41
25,5.819370e+12,5624020,M,2016-04-26 15:04:17,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No,2 days 08:55:43,2 days 08:55:43
26,2.578785e+10,5641781,F,2016-04-29 14:19:42,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No,-1 days +09:40:18,-1 days +09:40:18
27,1.215480e+13,5628345,F,2016-04-27 10:51:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No,1 days 13:08:15,1 days 13:08:15
28,5.926170e+12,5642400,M,2016-04-29 15:48:02,2016-04-29,51,SÌÄO PEDRO,0,0,0,0,0,0,No,-1 days +08:11:58,-1 days +08:11:58
29,1.225780e+12,5642186,F,2016-04-29 15:16:29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No,-1 days +08:43:31,-1 days +08:43:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,6.714490e+13,5552914,M,2016-04-06 17:59:58,2016-04-29,62,SOLON BORGES,0,0,0,0,0,0,No,22 days 06:00:02,22 days 06:00:02
71,1.846320e+12,5552936,F,2016-04-06 18:12:55,2016-04-29,30,BONFIM,1,0,0,0,0,1,No,22 days 05:47:05,22 days 05:47:05
72,7.746490e+12,5638014,F,2016-04-29 07:37:37,2016-04-29,61,JARDIM CAMBURI,0,0,0,0,0,0,No,-1 days +16:22:23,-1 days +16:22:23
73,4.542130e+13,5552934,F,2016-04-06 18:12:38,2016-04-29,68,REPÌ_BLICA,0,1,1,0,0,1,No,22 days 05:47:22,22 days 05:47:22
74,9.672970e+12,5597628,F,2016-04-18 17:29:12,2016-04-29,64,MARIA ORTIZ,0,0,0,0,0,1,No,10 days 06:30:48,10 days 06:30:48
75,1.488940e+11,5597632,F,2016-04-18 17:32:53,2016-04-29,60,JABOUR,0,0,0,0,0,0,No,10 days 06:27:07,10 days 06:27:07
76,6.549280e+12,5597643,M,2016-04-18 17:40:18,2016-04-29,28,ANTÌÓNIO HONÌÒRIO,0,0,0,0,0,0,Yes,10 days 06:19:42,10 days 06:19:42
77,5.753720e+12,5642767,F,2016-04-29 17:06:27,2016-04-29,27,JABOUR,0,0,0,0,0,0,No,-1 days +06:53:33,-1 days +06:53:33
78,6.259270e+11,5597672,M,2016-04-18 17:52:49,2016-04-29,21,MARIA ORTIZ,0,0,0,0,0,1,No,10 days 06:07:11,10 days 06:07:11
79,9.912880e+13,5597673,M,2016-04-18 17:53:25,2016-04-29,67,MARIA ORTIZ,0,0,0,0,0,1,Yes,10 days 06:06:35,10 days 06:06:35
80,1.486710e+12,5597685,M,2016-04-18 18:03:12,2016-04-29,68,JABOUR,0,0,0,0,0,1,No,10 days 05:56:48,10 days 05:56:48
81,1.976800e+13,5597689,F,2016-04-18 18:06:35,2016-04-29,49,JABOUR,0,0,0,0,0,1,No,10 days 05:53:25,10 days 05:53:25
82,1.827120e+11,5638939,M,2016-04-29 08:36:19,2016-04-29,71,JABOUR,0,0,0,0,0,0,No,-1 days +15:23:41,-1 days +15:23:41
83,2.274980e+11,5637742,M,2016-04-29 07:20:46,2016-04-29,36,RESISTÌ_NCIA,0,0,0,0,0,0,No,-1 days +16:39:14,-1 days +16:39:14
84,2.688000e+13,5637915,F,2016-04-29 07:31:04,2016-04-29,29,RESISTÌ_NCIA,0,0,0,0,0,0,No,-1 days +16:28:56,-1 days +16:28:56
85,7.472740e+13,5623102,F,2016-04-26 13:34:14,2016-04-29,69,RESISTÌ_NCIA,0,1,0,0,0,0,No,2 days 10:25:46,2 days 10:25:46
86,3.376220e+12,5595347,M,2016-04-18 12:31:34,2016-04-29,10,ILHA DE SANTA MARIA,0,0,0,0,0,1,No,10 days 11:28:26,10 days 11:28:26
87,4.143140e+12,5595356,M,2016-04-18 12:32:25,2016-04-29,2,ILHA DE SANTA MARIA,0,0,0,0,0,0,No,10 days 11:27:35,10 days 11:27:35
88,4.448350e+12,5595358,M,2016-04-18 12:32:35,2016-04-29,1,JUCUTUQUARA,0,0,0,0,0,0,No,10 days 11:27:25,10 days 11:27:25
89,4.314930e+14,5640380,M,2016-04-29 10:37:02,2016-04-29,0,MONTE BELO,0,0,0,0,0,0,No,-1 days +13:22:58,-1 days +13:22:58
90,8.782530e+14,5595362,M,2016-04-18 12:33:05,2016-04-29,11,JUCUTUQUARA,0,0,0,0,0,1,Yes,10 days 11:26:55,10 days 11:26:55
91,2.294300e+12,5598651,F,2016-04-19 07:51:31,2016-04-29,10,BONFIM,0,0,0,0,0,1,No,9 days 16:08:29,9 days 16:08:29
92,2.954670e+14,5638591,M,2016-04-29 08:11:38,2016-04-29,2,BONFIM,0,0,0,0,0,0,No,-1 days +15:48:22,-1 days +15:48:22
93,6.322530e+13,5639376,F,2016-04-29 09:01:10,2016-04-29,1,BONFIM,0,0,0,0,0,0,No,-1 days +14:58:50,-1 days +14:58:50
94,8.192150e+12,5640054,M,2016-04-29 10:03:12,2016-04-29,10,BONFIM,0,0,0,0,0,0,No,-1 days +13:56:48,-1 days +13:56:48
95,1.986250e+14,5640307,M,2016-04-29 10:28:54,2016-04-29,1,BONFIM,0,0,0,0,0,0,No,-1 days +13:31:06,-1 days +13:31:06
96,7.937620e+13,5623692,M,2016-04-26 14:28:39,2016-04-29,3,BONFIM,0,0,0,0,0,1,No,2 days 09:31:21,2 days 09:31:21
97,5.253340e+12,5565493,F,2016-04-11 09:00:00,2016-04-29,35,BONFIM,0,0,0,0,0,1,No,17 days 15:00:00,17 days 15:00:00
98,3.725960e+14,5571906,F,2016-04-12 09:44:42,2016-04-29,51,BONFIM,0,0,0,0,0,1,No,16 days 14:15:18,16 days 14:15:18
99,1.246210e+11,5641893,F,2016-04-29 14:38:28,2016-04-29,1,BONFIM,0,0,0,0,0,0,No,-1 days +09:21:32,-1 days +09:21:32

In [18]:
dd['time_d_total_seconds'] = dd.time_d.apply(lambda x: x.total_seconds())

In [19]:
dd.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,time_d,time_d_total_seconds
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,-1 days +05:21:52,-67088.0
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,-1 days +07:51:33,-58107.0
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,-1 days +07:40:56,-58744.0
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,-1 days +06:30:29,-62971.0
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,-1 days +07:52:37,-58043.0

In [20]:
dd['a_day_of_week'] = dd.AppointmentDay.apply(lambda x: x.dayofweek)
dd['s_day_of_week'] = dd.ScheduledDay.apply(lambda x: x.dayofweek)

In [23]:
from sklearn.preprocessing import LabelEncoder

lb_Encoder = LabelEncoder()
dd['Neighbourhood_category'] = lb_Encoder.fit_transform(dd['Neighbourhood'])
dd['Gender_category'] = lb_Encoder.fit_transform(dd['Gender'])
dd['no_show'] = dd['No-show'] == 'Yes'
dd['scheduled_hour'] = pd.DatetimeIndex(dd['ScheduledDay']).hour

In [25]:
dd['time_d_total_days'] = dd['time_d_total_seconds']/(24.0*60.0*60.0)
dd['time_d_total_days'] = dd['time_d_total_days'].astype(int)

In [26]:
dd.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,...,No-show,time_d,time_d_total_seconds,a_day_of_week,s_day_of_week,Neighbourhood_category,Gender_category,no_show,scheduled_hour,time_d_total_days
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,...,No,-1 days +05:21:52,-67088.0,4,4,39,0,False,18,0
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,...,No,-1 days +07:51:33,-58107.0,4,4,39,1,False,16,0
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,...,No,-1 days +07:40:56,-58744.0,4,4,45,0,False,16,0
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,...,No,-1 days +06:30:29,-62971.0,4,4,54,0,False,17,0
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,...,No,-1 days +07:52:37,-58043.0,4,4,39,0,False,16,0

In [92]:
dd.to_csv('KaggleV2-May-2016_with_new_cols_may5_1332.csv', index=False)

In [44]:
ddd = dd.groupby('PatientId').PatientId.count() > 1

In [46]:
ddd.sum()  #24,495 patients showed up more than once

24495